[submodule "frontend"]
	path = frontend
	url = https://github.com/xiysiedem/Hackaton-mirr-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/xiysiedem/Hackaton-mirr-backend.git
